*.csharp linguist-detectable=false
*.java linguist-detectable=false
*.js linguist-detectable=false
*.xml linguist-detectable=false
*.cxx linguist-detectable=false
*.txt linguist-detectable=false
*.h linguist-detectable=false
*.cc linguist-detectable=false
*.kt linguist-detectable=false
*.swift linguist-detectable=false
*.cmake linguist-detectable=false
*.gradle linguist-detectable=false
*.json linguist-detectable=false
*.plist linguist-detectable=false
*.html linguist-detectable=false
*.xib linguist-detectable=false
*.storyboard linguist-detectable=false
*.manifest linguist-detectable=false
*.entitlements linguist-detectable=false
*.properties linguist-detectable=false
*.xc* linguist-detectable=false
*.cpp linguist-detectable=false
Podfile linguist-detectable=false
CMakeLists.txt linguist-detectable=false
